@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Raleway:wght@100&display=swap');


.App {
 text-align: center;
 margin-bottom: 250px;
  
}

.app__messageView {
  padding-left: 10%;
  padding-right: 10%;

}


.App > img {
  padding-top: 20px;
  height: 100px;
  width: 100px;
}

.app__formWrapper {
  position: fixed;
  z-index: 1;
  /* bottom: 0; */
  /* margin: 20px; */
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 50%;
  
}


.app__form {
  margin: 0 auto; 
  padding: 20px; 
 justify-items: center;
 background-color: #e9e9eb;
 border-radius: 20px;
 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.app__formControl {
  display: flex !important ;
  flex-direction: row !important;
  background-color: #e9e9eb;
}

.app__iconButton {
  flex: 0 ;
}

.app__input {
  flex: 1;
}

#app__title {
  font-size: 55px ;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  
}

#app__subTitle {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: 'Hind', sans-serif;
  
}


@media only screen and (max-width: 600px) {
  
  .app__messageView {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  
  .app__formWrapper {
    width: 80%;
    
  }

  .app__form {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  
  .app__formControl {
    background-color: white;
    border-radius: 60px;
    justify-content: space-around;
    
  }
  
  .app__input {
    flex: 0.8;
    margin-left: 30px;
  }


   
}